@model Class56.Models.HomePageViewModel
<h1>Image Upload</h1>
<h3><a href="/account/signup">Sign up for a new account</a></h3>
@if (Model.IsAuthenticated)
{
    <h3><a href="/image/Upload">Upload an Image</a></h3>
    <h3><a href="/image">View Images for this account</a></h3>
    <h2>Welcome @Model.Name</h2>
}
else
{<h3><a href="/account/login">Login to your account</a></h3>
    <h2>Welcome Guest</h2>
}
